<div style="width: 600px;
            height: 50px;
            display:flex;
            align-items: center;
            justify-content: center;
            background-color: dodgerblue;">

    <small><strong>@FastFeet</strong></small>
    <small><p>

    Equipe FastFeet - Administração de Entregas</small>
    </p>


</div>
